{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block main %}
  <h1>Memberの登録</h1>
  <form action="{% url 'member_new' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="btn-container">
      <button type="submit" value="add" class="btn btn-classic width-50">
        Add
      </button>
      <button type="submit" value="back" class="btn btn-classic width-50">
        <a href="{% url 'member' %}">
          メンバー一覧へ
        </a>
      </button>
    </div>
  </form>
  <h2 class="content-head">Member-list</h2>
  <div class="all-member-list-for-edit">

    <ul>
      {% for member in members %}
        <li class="member-list">{{ member.name }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock main %}