{% extends 'base.html' %}
{% load static %}


{% block main %}
  <div class="sub-welcome">
    <h1 class="title">Team-Wakes</h1>
    <p class="subtitle">メンバーの編集</p>
  </div>
  <div class="content">
    <div class="all-member-list">
      <h2 class="content-head">Member-list</h2>
      <ul>
      {% for member in members %}
        <li class="member-list">{{ member.name }}</li>
      {% endfor %}
      </ul>
    </div>
    <div class="function-container">
      <h2 class="content-head">Editor</h2>
        <a class="btn btn-color btn-function">Add</a>
        <br>
        <a class="btn btn-color btn-function">Edit</a>
        <br>
        <a class="btn btn-color btn-function">Delete</a>
    </div>
  </div>
{% endblock main %}