{% extends 'base.html' %}
{% load static %}

{% block main %}
  <div class="welcome">
    <h1 class="title">ようこそ、Team-Wakesへ！</h1>
    <p class="subtitle">チームをわけわけしましょう！</p>
    {% if user.is_authenticated %}
      <a class="btn btn-color" href="{% url 'wake_new' %}">Wakesを登録する</a>
    {% else %}
      <a class="btn btn-color" href="{% url 'login' %}">ログイン</a>
    {% endif %}

  </div>

  {% if user.is_authenticated %}
    {% if wakes %}
      <ul class="wakes-list">
        <li class="wakes-header">Wakes一覧</li>
        {% for wake in wakes %}
          {% if wake.created_by.id == user.id %}
            <li>
              <a href="{% url 'wake_detail' wake.id %}" class="wake">
                {{ wake.name }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      <p class="message">Wakeはまだありません.</p>
    {% endif %}
  {% else %}
    <div class="welcome">
      <a class="btn btn-color btn-classic" href="{% url 'wake_classic' %}">簡易版を利用する</a>
    </div>
  {% endif %}
{% endblock main %}