{% extends 'base.html' %}

{% block main %}
  <div class="welcome">
    <h1 class="title">ようこそ、Team-Wakesへ！</h1>
    <p class="subtitle">チームをわけわけしましょう！</p>
    {% if user.is_authenticated %}
      <a class="btn btn-color" href="">Wakesを登録する</a>
    {% else %}
      <a class="btn btn-color" href="">ログイン</a>
    {% endif %}
    
  </div>

  {% if user.is_authenticated %}
    {% if wakes %}
      <table class="table">
        <thead>
          <tr>
            <th>Wake名</th>
            <th>概要</th>
          </tr>
        </thead>
        <tbody>
          {% for wake in wakes %}
            <tr>
              <th>{{ wake.name }}</th>
              <th></th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="message">Wakeはまだありません.</p>
    {% endif %}
  {% endif %}
{% endblock main %}