{% extends 'base.html' %}
{% load static %}

{% block exheader %}
  <script src="{% static 'wakes/js/wakes.js' %}"></script>
{% endblock exheader %}

{% block main %}
  <div class="sub-welcome">
    <h1 class="title">{{ wake.name }}</h1>
    <p class="subtitle">{{ wake.description }}</p>
    <a  class="btn btn-color" href="{% url 'wakes:wake_delete' wake.id %}">このWakesを削除する</a>
  </div>
  <div class="content">
    <div class="team-a">
      <h2 class="content-head">team A</h2>
      <ol id="team_a" class="team-container"></ol>
    </div>

    <div class="member">
      <h2 class="content-head">member</h2>
      <div class="member-container">
        <ul class="member-list-ul">
          <form name="member-form">
            {% for member in members %}
              <li class="label">
                <input type="checkbox" name="selected-member" id="{{ member.name }}" value="{{ member.name }}">
                <label for="{{ member.name }}">{{ member.name }}</label>
              </li>

            {% endfor %}
          </form>
        </ul>
      </div>
      <button type="button" value="Wake!" class="btn btn-color btn-classic" id="try-js" onclick="wakeTeam()">Wake!</button>
    </div>

    <div class="team-b">
      <h2 class="content-head">team B</h2>
      <ol id="team_b" class="team-container"></ol>
    </div>
  </div>
{% endblock main %}