{% extends 'base.html' %}
{% load static %}

{% block exheader %}
  <script src="{% static 'wakes/js/main.js' %}"></script>
{% endblock exheader %}

{% block main %}
  <div class="sub-welcome">
    <h1 class="title">簡易版へようこそ</h1>
    <p class="subtitle">改行区切りでメンバーを入力してください</p>
  </div>
  <div class="content">
    <div class="team-a">
      <h2 class="content-head">team A</h2>
      <ol id="team_a">
      </ol>
    </div>
    <div class="member">
      <h2 class="content-head">member</h2>
      <form action="" method="post">
        {% csrf_token %}
        <textarea name="classic-member" id="classic-member" rows="14" class="classic-member"></textarea>
        <button value="Wake!" class="btn btn-color btn-classic" id="try-js" onclick="wakeTeam()">Wake!</button>
      </form>
    </div>
    <div class="team-b">
      <h2 class="content-head">team B</h2>
      <ol id="team_b"></ol>
    </div>
  </div>
{% endblock main %}