body {
  background-color: rgb(241, 241, 237);
}

main {
  padding: 2rem 0;
}

.welcome {
  color: white;
  padding: 3rem 0;
  margin-bottom: 2rem;
  background-color: #484e60;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sub-welcome {
  color: white;
  padding: 1rem 0;
  margin-bottom: 1rem;
  background-color: #484e60;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.snippet-date {
  margin-bottom: 1rem;
}

.mb-10 {
  margin-bottom: 10px;
}

.wakes-list > li {
  border-bottom: 1px solid black;
  color: rgb(0, 0, 0);
  font-weight: bold;
  list-style: none;
  text-align: center;
  width: auto;
  line-height: 40px;
  margin-right: 32px;
}

.wake {
  display: block;
  text-decoration: none;
  color: black;
}

.wake:hover {
  cursor: pointer;
  color: aliceblue;
  background-color: #484e60;
}


.wakes-header {
  border-bottom: 1px solid black;
}


.message {
  text-align: center;
}

.btn-color {
  background-color: aliceblue;
}

.btn-color:hover {
  opacity: 0.8;
}

.nav-item {
  display: flex;
}

.description {
  text-align: center;
}

/* detail */

.content {
  height: 430px;
  width: auto;
  display: flex;
  margin-left: 1%;
  text-align: center;
  line-height: 240%;
}

.content-head {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 0 24px;
  line-height: 240%;
  border-bottom: 1px solid #484e60;
}

.team-ul {
  list-style: none;
  padding-left: 0;
  padding: 0 15px;
}

.member-ul {
  list-style: none;
  padding-left: 0;
  padding: 0 15px;
}

.member-ul > li {
  display: block;
  border-bottom: 1px solid #484e60;
}

.team-ul > li {
  display: block;
  border-bottom: 1px solid #484e60;
}



.team-a {
  width: 33%;
}

.member {
  width: 33%;
  border-left: 1px solid #484e60;
  border-right: 1px solid #484e60;
}

.team-b {
  width: 33%;
}

.btn-classic {
  width: 100%;
  display: block;
  margin: 0 auto;
  background-color: #484e60;
  color: rgb(241, 241, 237);
}

.classic-member {

  background-color: rgb(241, 241, 237);
}

textarea {
  line-height: 250%;
  width: 90%;
  height: 380px;
  border: none;
  resize: none;
  text-align: center;
}

.team-member {
  list-style: none;
  padding: 0 15px;
  margin-right: 30px;
  line-height: 300%;
}

.member-list {
  list-style: none;
  padding: 0 15px;
  margin-right: 30px;
  line-height: 300%;
}

.member-container {
  height: 390px;
}

/* member */

.all-member-list {
width: 50%;
border-right: 1px solid #484e60;
height: 100%;
overflow-y: scroll;
}

.function-container {
width: 50%;
border-left: 1px solid #484e60;
}

.btn-function {
  width: 255px;
  margin: 50px auto 25px auto;
  background-color: #484e60;
  color: rgb(241, 241, 237);
}
