body {
  background-color: rgb(241, 241, 237);
}

main {
  padding: 2rem 0;
}

a {
  display: block;
  text-decoration: none;
  color: rgb(241, 241, 237);
}

a:hover {
  color: black;
}

.welcome {
  color: white;
  padding: 3rem 0;
  margin-bottom: 2rem;
  background-color: #484e60;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sub-welcome {
  color: white;
  padding: 1rem 0;
  margin-bottom: 1rem;
  background-color: #484e60;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.snippet-date {
  margin-bottom: 1rem;
}

.mb-10 {
  margin-bottom: 10px;
}

.wakes-list > li {
  border-bottom: 1px solid black;
  color: rgb(0, 0, 0);
  font-weight: bold;
  list-style: none;
  text-align: center;
  width: auto;
  line-height: 40px;
  margin-right: 32px;
}

.wake {
  display: block;
  text-decoration: none;
  color: black;
}

.wake:hover {
  cursor: pointer;
  color: aliceblue;
  background-color: #484e60;
}


.wakes-header {
  border-bottom: 1px solid black;
}


.message {
  text-align: center;
}

.btn-color {
  background-color: aliceblue;
}

.btn-color:hover {
  opacity: 0.8;
}

.nav-item {
  display: flex;
}

.description {
  text-align: center;
}

.btn-edit {
  color: aliceblue;
  background-color: #484e60;
}
.btn-edit:hover {
  opacity: 0.8;
} 

input[type=checkbox] {
  display: none;
}

.label {
  display: block;
  margin: 5px;
  margin-right: 30px;
  border-radius: 4px;
  border: 1px solid #484e60;
  text-align: center;
}

label {
  display: block;
  cursor: pointer;
}

input[type=checkbox]:checked + label {
  background-color: #484e60;
  color: aliceblue;
}

/* detail */

.content {
  height: 40px;
  width: auto;
  display: flex;
  margin-left: 1%;
  text-align: center;
  line-height: 240%;
}

.content-head {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 0 24px;
  line-height: 240%;
  border-bottom: 1px solid #484e60;
  text-align: center;
}

.team-ul {
  list-style: none;
  padding-left: 0;
  padding: 0 15px;
}

.member-ul {
  list-style: none;
  padding-left: 0;
  padding: 0 15px;
}

.member-ul > li {
  display: block;
  border-bottom: 1px solid #484e60;
}

.team-ul > li {
  display: block;
  border-bottom: 1px solid #484e60;
}



.team-a {
  width: 33%;
}

.member {
  width: 33%;
  border-left: 1px solid #484e60;
  border-right: 1px solid #484e60;
}

.team-b {
  width: 33%;
}

.btn-classic {
  width: 100%;
  display: block;
  margin: 0 auto;
  background-color: #484e60;
  color: rgb(241, 241, 237);
}

.classic-member {
  padding-right: 15%;
  background-color: rgb(241, 241, 237);
}

textarea {
  line-height: 250%;
  width: 90%;
  height: 350px;
  border: none;
  resize: none;
  text-align: center;
}

.team-member {
  list-style: none;
  padding: 0 15px;
  margin-right: 30px;
  line-height: 300%;
}

.member-list {
  list-style: none;
  padding: 0 15px;
  margin-right: 30px;
  line-height: 300%;
}

.member-container {
  height: 360px;
}

/* member */

.all-member-list {
width: 50%;
height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
border-radius: 10px;
box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-thumb {
background-color: #484e60;
border-radius: 10px;
box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}

.member-list-ul {
  height: 360px;
  overflow-y: scroll;
  margin-right: 5px;
}

.all-member-list-for-edit {
  width: 100%;
  height: 340px;
  overflow-y: scroll;
  text-align: center;
  border-bottom: 1px solid #484e60;
  }

.function-container {
width: 50%;
}

.btn-function {
  width: 70%;
  margin: 50px auto 25px auto;
  background-color: #484e60;
  color: rgb(241, 241, 237);
}

.btn-container{
  display: flex;
}

.width-50 {
  width: 48%;
} 

.editor-btn {
  width: 50%;
}