body {
  background-color: rgb(241, 241, 237);
}

main {
  padding: 2rem 0;
}

.welcome {
  color: white;
  padding: 3rem 0;
  margin-bottom: 2rem;
  background-color: #484e60;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sub-welcome {
  color: white;
  padding: 1rem 0;
  margin-bottom: 1rem;
  background-color: #484e60;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.snippet-date {
  margin-bottom: 1rem;
}

.mb-10 {
  margin-bottom: 10px;
}

.wakes-list > li {
  border-bottom: 1px solid black;
  color: rgb(0, 0, 0);
  font-weight: bold;
  list-style: none;
  text-align: center;
  width: auto;
  line-height: 40px;
  margin-right: 32px;
}

.wake {
  display: block;
  text-decoration: none;
  color: black;
}

.wake:hover {
  cursor: pointer;
  color: aliceblue;
  background-color: #484e60;
}


.wakes-header {
  border-bottom: 1px solid black;
}


.message {
  text-align: center;
}

.btn-color {
  background-color: aliceblue;
}

.btn-color:hover {
  opacity: 0.8;
}

.nav-item {
  display: flex;
}

.description {
  text-align: center;
}

/* detail */

.content {
  height: 400px;
  width: auto;
  display: flex;
  margin-left: 1%;
  text-align: center;
  line-height: 240%;
}

.content-header {
  font-weight: bold;
}

.team-ul {
  list-style: none;
  padding-left: 0;
  padding: 0 15px;
}

.member-ul {
  list-style: none;
  padding-left: 0;
  padding: 0 15px;
}

.member-ul > li {
  display: block;
  border-bottom: 1px solid #484e60;
}

.team-ul > li {
  display: block;
  border-bottom: 1px solid #484e60;
}

.team-ul > li:not(.content-header):hover {
  cursor: pointer;
  background-color: #484e60;
  color: aliceblue;
}

.team-a {
  width: 33%;
}

.member {
  width: 33%;
  border-left: 1px solid #484e60;
  border-right: 1px solid #484e60;
}

.team-b {
  width: 33%;
}

.btn-classic {
  margin: 0 auto;
}

.classic-member {

  background-color: rgb(241, 241, 237);
}

textarea {
  line-height: 150%;
  width: 90%;
  height: 88%;
}